
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>This is HTML!</div>
    <input type="text" />
    <br />
    <input type="button" value="click me!" />
</body>
</html>
